<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>登入</h1>
    <form action="" method="POST">
      帳號：<input type="text" name="username">
      密碼：<input type="password" name="password">
      <input type="submit" name="send" value="SEND">
    </form>
  </body>
</html>
