<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Username: <%= username %></h1>
    <p>Password: <%= password %></p>
  </body>
</html>
